---
import GitHub from '../components/GitHub.astro'
import RootLayout from '../layouts/RootLayout.astro'
---

<RootLayout title="Cyan Froste">
  <div class="flex flex-col items-center py-20">
    <h1
      class="my-8 font-title text-8xl leading-normal bg-gradient-to-tr from-primary-100 to-primary-200 bg-clip-text text-transparent">
      Cyan Froste
    </h1>

    <div class="mb-40">
      <h2
        class="font-mono text-4xl italic bg-gradient-to-br from-secondary-100 to-secondary-200 bg-clip-text text-transparent">
        Web Developer
      </h2>
    </div>

    <GitHub />
  </div>
</RootLayout>
