---
import RootLayout from '../layouts/RootLayout.astro'
---

<RootLayout title="Cyan Froste">
  <div class="flex flex-col items-center">
    <h1 class="font-title text-8xl leading-normal">Cyan Froste</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime deleniti beatae consequuntur ipsam laborum ab
      possimus, odit corporis ut in voluptatem adipisci aliquam expedita, necessitatibus id? Ad dolore similique
      laboriosam.
    </p>

    <a href="/themes">Themes</a>
  </div>
</RootLayout>
