---
import RootLayout from '../layouts/RootLayout.astro'

const res = await fetch('https://github.com/CyanFroste')

console.log((await res.text()).includes('ContributionCalendar-day'))

// const res = await fetch('https://api.github.com/users/CyanFroste')

// console.log((await res.json()))
---

<RootLayout title="Cyan Froste">
  <div class="flex flex-col items-center">
    <h1
      class="font-title text-8xl leading-normal bg-gradient-to-tr from-primary-100 to-primary-200 bg-clip-text text-transparent">
      Cyan Froste
    </h1>

    <a href="/themes">Themes</a>
  </div>
</RootLayout>

<script></script>
