:root {
  --primary-1: #c8bc08;
  --primary-2: #e0e442;
  --primary-3: #a20f4a;
  --primary-4: #ef85a3;

  --secondary-1: #73caea;
  --secondary-2: #6c9853;
  --secondary-3: #b9bdf3;
  --secondary-4: #a1e3bd;

  --black: #050501;
  --white: #f5f5f5;
}
